<!--Top Header-->
<div class="top-header" >
    <div class="container-fluid">
        <div class="row">
          <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                <div class="currency-picker" >
                    <div >
                        <input type="text" style="width: 50%; height: 50%;background-color: aliceblue;" class="input"><button class="btn" style="height: 20%;">Buscar</button>
                    </div>
                </div>
                <div class="language-dropdown">
                    <span class="language-dd">Español</span>
                    <ul id="language">
                        <li class="">English</li>
                        <li class="">French</li>
                    </ul>
                </div>
                <p class="phone-no"><i class="anm anm-phone-s"></i> +440 0(111) 044 833</p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
              <div class="text-center"><p class="top-header_middle-text"> <a routerLink="">VIZZLAN</a> </p></div>
            </div>
            
            
            <div class="col-1 col-sm-4 col-md-3 col-lg-4 text-right">
              <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                <ul class="customer-links list-inline">
                    
                    <li *ngIf="loginService.nombreUsuario==' '" ><a routerLink="/Ingresar">Login </a></li>
                    <li *ngIf="loginService.nombreUsuario!==' '" ><a routerLink="/Ingresar" >{{loginService.nombreUsuario}} </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End Top Header-->
<router-outlet></router-outlet>
