<div class="col-12 item">
    <!-- start product image -->
    <div class="product-image">
        <!-- start product image -->
        <a href="product-layout-1.html" class="grid-view-item__link">
            <!-- image -->
            <img class="primary blur-up lazyload" data-src="assets/images/product-images/product-image4.jpg" src="assets/images/product-images/product-image4.jpg" alt="image" title="product" />
            <!-- End image -->
            <!-- Hover image -->
            <img class="hover blur-up lazyload" data-src="assets/images/product-images/product-image4-1.jpg" src="assets/images/product-images/product-image4-1.jpg" alt="image" title="product" />
            <!-- End hover image -->
            <!-- Variant Image-->
            <img class="grid-view-item__image hover variantImg" src="assets/images/product-images/product-image3.jpg" alt="image" title="product">
            <!-- Variant Image-->
            <!-- product label -->
            <div class="product-labels rounded"><span class="lbl on-sale">Sale</span></div>
            <!-- End product label -->
        </a>
        <!-- end product image -->

        <!-- Start product button -->
        <form class="variants add" action="#" onclick="window.location.href='cart.html'"method="post">
            <button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
        </form>
        <div class="button-set">
            <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                <i class="icon anm anm-search-plus-r"></i>
            </a>
            <div class="wishlist-btn">
                <a class="wishlist add-to-wishlist" href="wishlist.html">
                    <i class="icon anm anm-heart-l"></i>
                </a>
            </div>
            <div class="compare-btn">
                <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                    <i class="icon anm anm-random-r"></i>
                </a>
            </div>
        </div>
        <!-- end product button -->
    </div>
    <!-- end product image -->

    <!--start product details -->
    <div class="product-details text-center">
        <!-- product name -->
        <div class="product-name">
            <a href="product-layout-1.html">Cape Dress</a>
        </div>
        <!-- End product name -->
        <!-- product price -->
        <div class="product-price">
            <span class="old-price">$900.00</span>
            <span class="price">$788.00</span>
        </div>
        <!-- End product price -->
        <!-- Color Variant -->
        <ul class="swatches">
          <li class="swatch small rounded black" rel="assets/images/product-images/cape-dress-2.jpg"></li>
            <li class="swatch small rounded maroon" rel="assets/images/product-images/product-image4-1.jpg"></li>
            <li class="swatch small rounded navy" rel="assets/images/product-images/product-image2.jpg"></li>
            <li class="swatch small rounded darkgreen" rel="assets/images/product-images/product-image2-1.jpg"></li>
        </ul>
        <!-- End Variant -->
    </div>
    <!-- End product details -->
</div>