<!--Home slider-->
<div class="slideshow slideshow-wrapper pb-section">
  <div class="home-slideshow">
      <div class="slide">
          <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="assets/images/slideshow-banners/Tipojeans1.jpeg" src="./assets/images/slideshow-banners/Tipojeans1.jpeg" alt="Shop Our New Collection" title="Shop Our New Collection" />
                <div class="slideshow__text-wrap slideshow__overlay classic middle">
                    
                </div>
            </div>
        </div>
        <div class="slide">
          <div class="blur-up lazyload">
                <img class="blur-up lazyload" data-src="assets/images/slideshow-banners/Tipojeans2.jpg" src="assets/images/slideshow-banners/Tipojeans2.jpg" alt="Summer Bikini Collection" title="Summer Bikini Collection" />
                <div class="slideshow__text-wrap slideshow__overlay classic middle">
                    <div class="slideshow__text-content middle">
                      <div class="container">
                            <div class="wrap-caption center">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Home slider-->