<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Crear una cuenta</h1></div>
          </div>
    </div>
    <!--End Page Title-->
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 offset-md-3">
                <div class="mb-4">
                   	
                      <div class="row">
                          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="FirstName">Nombres</label>
                                <input type="text" [(ngModel)]="nombre">
                                
                            </div>
                           </div>
                           <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="LastName">Apellidos</label>
                                <input type="text" [(ngModel)]="apellido">
                                
                            </div>
                           </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="CustomerPassword">Usuario</label>
                                        <input type="text" value="" [(ngModel)]="cuenta">
                                                                    
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="CustomerPassword">Contraseña</label>
                                        <input type="password" value="" [(ngModel)]="password">
                                                                    
                                    </div>
                                </div>
                            </div> 

                            
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="CustomerPassword">Fecha Nacimiento</label>
                                        <input type="date" value="" [(ngModel)]="fechaNacimiento">
                                                                    
                                    </div>
                                </div>
                            
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="CustomerPassword">Sexo</label>
                                        <select [(ngModel)]="genero">
                                            <option value="F">
                                                Femenino
                                            </option>
                                            <option value="M">
                                                Masculino
                                            </option>
                                        </select>
                                                                
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="CustomerPassword">Tipo</label>
                                        <select [(ngModel)]="tipoUsuario">
                                            <option value="Cliente">
                                                Cliente
                                            </option>
                                            <option value="Administrador">
                                                Administrador
                                            </option>
                                        </select>
                                                                
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                      </div>
                      <div class="row">
                        <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                            <button class="btn" (click)="RegistrarParte()" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear cuenta</button>
                        </div>
                     </div>
                 
                </div>
               </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Usuario registrado
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="redirigir()">Aceptar</button>
          
        </div>
      </div>
    </div>
  </div>

<!--End Body Content-->