
  <div class="container my-4">
      <div class="row">
          <div class="col-6 my-5" >
            <div class="col-12">
              <img class="img-fluid" src="./assets/images/logo/Logo-Vizzlan.jpg" style="height: 50%;margin-top: 15%;margin-bottom: 15%;" alt="">
            </div>
          </div>
          
          <div class="col-6 my-5">
              <app-login></app-login>
          </div>
      </div>
  </div>
  <div>
    
</div>
  <!--

    <p>ingresar works!</p>
Usuario
<input type="text" [(ngModel)]="usuario">
Contraseña
<input type="text"  [(ngModel)]="password">
<input type="text" [(ngModel)]="idCaract">
<button (click)="login()">Login</button>
<div>
    <h5>
        {{usuario}}
    </h5>
    <h5>
        {{password}}
    </h5>
</div>
<button (click)="filtrar()">Filtrar</button>
{{mensaje}}
{{Cuenta}}
  -->
